# ~/klasker-scanner/.env.example

DB_HOST=gateway01.eu-central-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USERNAME=43uaGUcrD7fDcwu.root
DB_PASSWORD=<YOUR_TIDB_PASSWORD>
DB_DATABASE=test
DB_CA=/etc/ssl/certs/ca-certificates.crt
